

.container{
    display:table;
    margin:auto;
}

.header{
    margin-top:100px;
    font-weight:500;
    font-family:helvetica;
    color:rgb(28, 163, 138);
    text-align:center;
}

.counter-container{
    width:500px;
    height:400px;
    box-shadow:10px 10px 10px 1px rgb(53, 45, 45);
    border-radius:8px;
    color:white;
   
}

.background-image{
    width:500px;
    height:400px;
    border-radius:8px;
    position:absolute;
    z-index:-1;

}
.elements{
    margin-top:130px;
    font-weight:100;
    font-family:Helvetica;
    font-size:20px;
}
.counter-elements{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}